<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
        <!-- text hello user left up angle -->
        <h3 class="float-md-start mb-0">Krymlov Education</h3>
        <!-- navigation bar -->
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <!-- link to homepage -->
            <a class="nav-link active" aria-current="page" href="/homepage">Homepage</a>
            <!-- link to about page -->
            <a class="nav-link" href="/about">About Us</a>
            <!-- link to blogpage -->
            <a class="nav-link" href="/courses">Courses</a>
            <!-- link to add new block -->
            <a class="nav-link active" aria-current="page" href="/reviews">Reviews</a>
            <a class="nav-link active" aria-current="page" href="/students">Our Students</a>
        </nav>
    </div>